</html>

<head>
	<script>

		let barillet_selec = 0;

		function coloration(id) {

			let chambre = document.getElementById("Br" + id);

			if (chambre.style.fill === "red") {
				chambre.style.fill = "gray";
				barillet_selec--;

			}

			else if (barillet_selec < 3) {
				chambre.style.fill = "red";
				barillet_selec++;
			}

			else {
				alert("Vous ne pouvez pas choisir plus de 3 chambres");
			}
		}

		function lancer() {

			if (barillet_selec === 0) {
				alert("Veuillez selectionner une chambre");
				return;
			}

			const numTire = Math.floor(Math.random() * 6) + 1;

			let NumSelection = document.getElementById("Br" + numTire).style.fill === "red";

			document.getElementById("Br" + numTire).style.fill = "blue";

			if (NumSelection) {
				alert("Vous avez perdu");
				gains_collecte = 0
			} else {

				let gains = 0

				if (barillet_selec === 1) {
					gains = 10000;
				}

				else if (barillet_selec === 2) {
					gains = 100000;
				}

				else if (barillet_selec === 3) {
					gains = 1000000;
				}

				gains_collecte += gains;
				document.getElementById("gains").textContent = gains_collecte + " €";
			}
		}

	</script>


</head>

<body>
	<h1>Roulette Russe</h1>
	<div>
		<h2>Total des gains : <span id="gains">0 €</span></h2>
	</div>
	<svg width=200 height=200 style="background-color:antiquewhite">
		<circle cx="100" cy="100" r="95" stroke="black" stroke-width="3" fill="none" />
		<circle onclick="coloration(1)" id="Br1" cx="100" cy="40" r="25" stroke="black" stroke-width="3" fill="gray" />
		<circle onclick="coloration(2)" id="Br2" cx="150" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" />
		<circle onclick="coloration(3)" id="Br3" cx="50" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" />
		<circle onclick="coloration(4)" id="Br4" cx="50" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" />
		<circle onclick="coloration(5)" id="Br5" cx="150" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" />
		<circle onclick="coloration(6)" id="Br6" cx="100" cy="160" r="25" stroke="black" stroke-width="3" fill="gray" />
		<circle onclick="lancer()" cx="100" cy="100" r="10" stroke="black" stroke-width="3" fill="black" />
	</svg>

	<button onclick="lancer()">Jouer</button>

</body>

</html>