<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chenille</title>
</head>
<body>


    <svg width="1000" height="500">
   
        <circle cx="110" cy="120" r="40" fill="red" />
        <circle cx="180" cy="150" r="40" fill="black" />
        <circle cx="260" cy="160" r="40" fill="black" />
        <circle cx="340" cy="150" r="40" fill="black" />
        <circle cx="420" cy="140" r="40" fill="black" />
        <circle cx="500" cy="150" r="40" fill="black" />
        <circle cx="570" cy="190" r="40" fill="black" />
        <circle cx="625" cy="250" r="40" fill="black" />
        <circle cx="590" cy="323" r="40" fill="black" />

        <circle cx="420" cy="323" r="40" fill="black" />
        <circle cx="260" cy="340" r="40" fill="black" />
        <circle cx="340" cy="340" r="40" fill="black" />
        <circle cx="520" cy="353" r="40" fill="black" />


        <circle cx="90" cy="140" r="8" fill="black" />
        <circle cx="110" cy="140" r="8" fill="black" />


        <line x1="100" y1="110" x2="80" y2="80" stroke="black" stroke-width="4" />
        <line x1="100" y1="110" x2="120" y2="80" stroke="black" stroke-width="4" />


        <circle cx="130" cy="190" r="10" fill="brown" />
        <circle cx="150" cy="190" r="10" fill="brown" />

        <circle cx="210" cy="190" r="10" fill="brown" />
        <circle cx="230" cy="190" r="10" fill="brown" />
        <circle cx="290" cy="190" r="10" fill="brown" />
        <circle cx="310" cy="190" r="10" fill="brown" />

        <circle cx="370" cy="190" r="10" fill="brown" />
        <circle cx="390" cy="190" r="10" fill="brown" />
        <circle cx="450" cy="190" r="10" fill="brown" />
        <circle cx="470" cy="190" r="10" fill="brown" />
    </svg>
    
</body>
</html>