<html>

<head>

</head>

<body>

    <svg width="750" height="750" style="background-color: rgba(200,200,200, 0.5)">
        <rect style="fill:darkgreen; stroke:none;" x="0" y="650" width="750" height="100" />
    
        <rect style="fill:beige; stroke:brown; stroke-width:10px;" x="100" y="350" width="500" height="400" />
    
        <polygon style="fill:brown; stroke:black; stroke-width:4px;" points="100 350, 350 150, 600 350" />
    
        <rect style="fill:darkbrown; stroke:black; stroke-width:5px;" x="325" y="550" width="50" height="200" />
    
        <rect style="fill:lightblue; stroke:black; stroke-width:5px;" x="150" y="400" width="100" height="100" />
        <rect style="fill:lightblue; stroke:black; stroke-width:5px;" x="450" y="400" width="100" height="100" />
    
        <circle style="fill:url(#sunGradient); stroke:orange; stroke-width:5px;" cx="600" cy="100" r="80" />

        <polygon style="fill:orange;" points="600 20, 620 60, 580 60" />
        <polygon style="fill:orange;" points="680 100, 640 120, 640 80" />
        <polygon style="fill:orange;" points="600 180, 620 140, 580 140" />
        <polygon style="fill:orange;" points="520 100, 560 80, 560 120" />
        <polygon style="fill:orange;" points="540 40, 560 80, 520 80" />
        <polygon style="fill:orange;" points="540 160, 560 120, 520 120" />
        <polygon style="fill:orange;" points="660 40, 640 80, 680 80" />
        <polygon style="fill:orange;" points="660 160, 640 120, 680 120" />
    
        <defs>
            <radialGradient id="sunGradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:yellow; stop-opacity:1" />
                <stop offset="100%" style="stop-color:orange; stop-opacity:1" />
            </radialGradient>
        </defs>
    </svg>



</body>

</html>