<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<style>
         table {
            border-collapse: collapse;
        }
        th, td {
            border: 2px solid #000;
            padding: 8px;
            text-align: center;
        }
</style>
<H1>EXERCICE BASE 3</H1>

    <table>
        <thead>
            <tr>
                <th>Jour</th>
                <th>Lundi</th>
                <th>Mardi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Matin</td>
                <td colspan="2">Julie</td>
            </tr>
            <tr>
                <td>Apres-midi</td>
                <td>Michel</td>
                <td rowspan="2">Paul</td>
            </tr>
            <tr>
                <td>Soir</td>
                <td>Sandrine</td>
            </tr>
        </tbody>
    </table>



</body>
</html>


