<html>

<head>


</head>

<body>
<style>
ul {
	list-style-type: none;
}


</style>

	<h1>Dressuer de Pokémon</h1>

	<form action="#">
		<p>les champs marqués par * sont obligatoires</p>
		<fieldset>
			<legend>Nouveau dresseur</legend>
			<p>Nom * <input name="A" type="Text" value="Nom" /></p>
			<p> Description</p>
			<textarea name="B" type="Text" value="Description"></textarea>
		
		<p>Equipe 
			<ul>
				<li><input name="Rouge" type="radio"/>Rouge</li>
				<li><input name="Jaune" type="radio"/>Jaune</li>
				<li><input name="Bleu" type="radio"/>Bleu</li>
			</ul>

		</p>
		<br>
		<p>
			<input type="date" id="date_anniv" name="date_anniv" required>
		</p>
		<p><input type="submit" value="Envoyer" />
		</p>

	</fieldset>
	</form>

</body>

</html>