<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon TP</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border: 2px solid black;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }


        ul {
            padding-left: 50;
        }

        ul li {
            margin-bottom: 1px;
        }
    </style>
</head>

<body>
    <h1>TP HTML | ACHRAF SABER</h1>

    <fieldset>
        <legend>Exercice 1 : Votre première page HTML</legend>

        <h1>text</h1>
        <h2>text</h2>
        <h3>text</h3>
        <h2>text</h2>
        <h1>text</h1>

        <br>

        <p>
            Ceci est un texte en <b>gras</b>, en <i>italique</i>, et <u>souligné</u>.
        </p>

        <br>


        <h3>Lien vers la page d'actualités</h3>
        <a href="actualite.html">Voir les actualités</a>


        <br>


        <h3>Adresse électronique</h3>
        <p>mon email :
            <a href="mailto:achraf@google.fr"> achraf@google.fr </a>
        </p>
        <br>


        <h3>Combinaison de listes</h3>
        <ol>
            <li>Élément 1</li>
            <li>Élément 2 :
                <ul>
                    <li>élément 1</li>
                    <li>élément 2</li>
                </ul>
            </li>
            <li>Élément 3</li>
        </ol>

    </fieldset>


    <br>
    <br>
    <br>


    <fieldset>
        <legend>Exercice 2 : Composition d'une page</legend>

        <br><br>
        <table>
            <thead>
                <tr>
                    <td colspan="2" rowspan="2">Un tableau</td>
                    <td colspan="2" rowspan="2">&nbsp;</td>
                    <td colspan="2" rowspan="2">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" rowspan="2">&nbsp;</td>
                    <td colspan="2" rowspan="2">à 6</td>
                    <td colspan="2" rowspan="2">cases</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <br><br>


    <ol>
        <li>point 1</li>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
        <li>point 2</li>
        <li>point 2
            <ul>
                <li>1</li>
                <li>2</li>
            </ul>
        </li>
    </ol>

    <br><br>

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>


    <br>
    <br>
    <br>
    <br>

    <h2>Formulaire d'inscription</h2>

    <form>
        <div>
            <label for="pseudo">Votre pseudo :</label>
            <input type="text" id="pseudo" name="pseudo" required>
        </div>

        <DIV>
        <label for="password">Votre mot de passe :</label>
        <input type="password" id="password" name="password" required>
    </DIV>

    <div>
        <label for="confirm-password">Ressaisir votre mot de passe :</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
    </div>

        <fieldset>
            <legend>OS préféré :</legend>
            <label><input type="checkbox" name="os" value="Windows XP"> Windows XP</label>
            <label><input type="checkbox" name="os" value="Windows Vista"> Windows Vista</label>
            <label><input type="checkbox" name="os" value="MacOS X"> MacOS X</label>
            <label><input type="checkbox" name="os" value="Linux"> Linux</label>
            <label><input type="checkbox" name="os" value="Autre"> Autre</label>
        </fieldset>

        <fieldset>
            <legend>Vous possédez :</legend>
            <label><input type="checkbox" name="possessions" value="ordinateur de bureau"> Un ordinateur de
                bureau</label>
            <label><input type="checkbox" name="possessions" value="portable"> Un portable</label>
            <label><input type="checkbox" name="possessions" value="netbook"> Un netbook</label>
            <label><input type="checkbox" name="possessions" value="tablette"> Une tablette (Pad)</label>
        </fieldset>

        <label for="profession">Votre profession :</label>
        <select id="profession" name="profession">
            <option value="chomeur">Chômeur</option>
            <option value="etudiant">Etudiant</option>
            <option value="fonctionnaire">Fonctionnaire</option>
            <option value="prize">Prixé</option>
            <option value="retraite">Retraité</option>
        </select>

        <button type="submit">S’inscrire !</button>
    </form>


    <section>
        <h2>Exercice 4 : Mini site avec CV</h2>
        <h1>Mon CV</h1>
        <table>
            <tr>
                <th>Prénom</th>
                <td>ACHRAF</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>SABER</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>75000 Paris</td>
            </tr>
            <tr>
                <th>Date de Naissance</th>
                <td>01/01/2001</td>
            </tr>
        </table>

        <h2>Formation</h2>
        <table>
            <tr>
                <td>2022-2023</td>
                <td>Formation developpement web</td>
            </tr>
            <tr>
                <td>2024-2025</td>
                <td>Licence en Informatique</td>
            </tr>
        </table>

        <h2>Expérience professionnelle</h2>
        <table>
            <tr>
                <td>2021-2022</td>
                <td>Employe</td>
            </tr>
            <tr>
                <td>2023-2024</td>
                <td>Employe</td>
            </tr>
        </table>

        <h2>Compétences</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
        </ul>

        <h2>centre d'interet</h2>
        <p>musculation</p>
        <p>musculation</p>
    </section>
    
<br><br><br>
 
</body>

</html>